In [23]:
import pandas as pd

def fun(arr, bool_arg):
    l =pd.DataFrame()
    for i in range(len(arr)):
        for j in range(len(arr)):
            if bool_arg[j]:
                l.loc[i,j] = arr[i]**j 
            else:
                l.loc[i,j] = arr[i]**(len(arr) -j-1)       
        
    return l

In [24]:
fun([7,8,9,4,5,6], [True, False, True, False, True, True])

     0       1     2     3       4        5
0  1.0  2401.0  49.0  49.0  2401.0  16807.0
1  1.0  4096.0  64.0  64.0  4096.0  32768.0
2  1.0  6561.0  81.0  81.0  6561.0  59049.0
3  1.0   256.0  16.0  16.0   256.0   1024.0
4  1.0   625.0  25.0  25.0   625.0   3125.0
5  1.0  1296.0  36.0  36.0  1296.0   7776.0

# Moving average

In [33]:
def moving_avg(arr, window):
    mv=[]
    for i in range(len(arr)- window+1):
        t =0
        for j in range(window):
            t = t+arr[i+j]
        mv.append(t/window)
    return mv

In [34]:
moving_avg([3,5,7,2,8,10,11,65,72,81,99,100,150], 3)

[5.0,
 4.666666666666667,
 5.666666666666667,
 6.666666666666667,
 9.666666666666666,
 28.666666666666668,
 49.333333333333336,
 72.66666666666667,
 84.0,
 93.33333333333333,
 116.33333333333333]

In [35]:
moving_avg([10,20,30,40,50,60,70,80,90,100], 4)

[25.0, 35.0, 45.0, 55.0, 65.0, 75.0, 85.0]